/*/.vs/
*.DS_Store
/*/Temp/
/*/Library/
solitaire/Library/
*.csproj
*.sln
/*/obj/
/*/*/test/
/*/*/Test/
/*/*/Test.meta
/*/*/test.meta
/*/Bundles/
#/*/*/StreamingAssets/
#/*/*/StreamingAssets.meta
solitaire/.idea/*
solitaire/Assets/Plugins/Editor/*
excel2json/excel/~$ActivityConfig.xlsx
solitaire/Assets/Main/GameFrameworkDebugger/*
solitaire/Sandbox/*
solitaire/HybridCLRData/AssembliesPostIl2CppStrip/*
solitaire/HybridCLRData/StrippedAOTDllsTempProj/*
solitaire/HybridCLRData/HotUpdateDlls/*
solitaire/HybridCLRData/iOSBuild/*
solitaire/HybridCLRData/iOSBuild/build_libil2cpp.sh
solitaire/Assets/StreamingAssets/*
solitaire/HybridCLRData/*
solitaire/Build/*
Doc/策划文档/配置工具（Luban）/MiniTemplate/Gen/*
solitaire/BuildOutPutPath/*
